{:paths
 ["src" "resources"]
 :deps
 {org.clojure/clojurescript {:mvn/version "1.11.60"}
  org.clojure/core.async {:mvn/version "1.6.681"}
  cljs-http/cljs-http {:mvn/version "0.1.48"}
  reagent/reagent {:mvn/version "1.2.0"
                   :exclusion [cljsjs/react cljsjs/react-dom]}}
 :aliases
 {:dev {:extra-deps {thheller/shadow-cljs {:mvn/version "2.26.6"}}
        :extra-paths ["dev"]}}}
